
 <!-- <portal-menu-sidenav></portal-menu-sidenav> -->
 <form [formGroup]="registerorderForm" style="padding: 50px;">
  <h1 style="text-align: center;">Employee Details</h1>
  <div fxLayout="row" fxLayout.sm="column">
    <mat-form-field appearance="outline" class="portal-remove-fixed-infix-width portal-first-name">
      <mat-label>ContactNumber</mat-label>
      <input matInput formControlName="contactNumber" placeholder="Enter ContactNumber">
    </mat-form-field>
    <mat-form-field appearance="outline" class="portal-remove-fixed-infix-width portal-first-name">
      <mat-label>CustomerName</mat-label>
      <input matInput formControlName="customerName" placeholder="Enter CustomerName">
    </mat-form-field>
  </div>
  <div fxLayout="row" fxLayout.sm="column">
    <mat-form-field appearance="outline" class="portal-remove-fixed-infix-width portal-first-name">
      <mat-label>OrderStatus</mat-label>
      <input matInput formControlName="orderStatus" type="text" placeholder="Enter OrderStatus">
    </mat-form-field>
    <mat-form-field appearance="outline" >
      <mat-label>Email Address</mat-label>
      <input matInput formControlName="email" type="email" placeholder="Enter Email Address">
    </mat-form-field>
    </div>
 
    <mat-form-field appearance="outline" class="portal-remove-fixed-infix-width portal-first-name">
      <mat-label>Payment</mat-label>
      <input matInput formControlName="payment" placeholder="Enter Payment">
    </mat-form-field>
 
  <div fxLayout="row" fxLayout.sm="column">
    <mat-form-field appearance="outline" class="portal-remove-fixed-infix-width portal-first-name">
      <mat-label>Quantity</mat-label>
      <input matInput formControlName="quantity" placeholder="Enter Quantity">
    </mat-form-field>
  <mat-form-field appearance="outline" class="portal-remove-fixed-infix-width ">
    <mat-label>ServiceType</mat-label>
    <input matInput formControlName="serviceType" placeholder="Enter ServiceType">
  </mat-form-field>
 
  </div>
  <mat-dialog-actions style="display: block">
    <div style="display: center">
      <button mat-raised-button (click)="submit()">Submit</button>
    </div>
  </mat-dialog-actions>
</form>