<div class="portal-profile-container portal-accent-bg" fxLayout="row" fxLayoutAlign="center">
  <div fxFlex="80" fxFlex.sm="90" fxFlex.xs="100">
    <div class="portal-profile__header" fxLayout="row">
      <div class="portal-profile__header-content" fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="start center">
        <img [src]="_utilityService.getImageUrl(user.profilePhoto)"
          onerror="this.src='assets/images/unknown_picture.jpg'" class="portal-profile__avatar">
        <div class="portal-profile__header-text">
          <h1 i18n>Profile / {{user.firstName}} {{user.lastName}}</h1>
          <p i18n>Edit your personal information and change your password here.</p>
        </div>
      </div>
    </div>
    <div class="portal-profile__content">
      <mat-card>
        <mat-card-content>
          <mat-tab-group>
            <mat-tab label="Profile">
              <div class="portal-profile-container__content-tab">
                <form [formGroup]="formGroup" style="padding: 50px; margin:20px">
                  <h1 style="text-align: center;"> Update Customer</h1>
                  <div fxLayout="row" fxLayout.sm="column" style="gap: 10px;">
                    <mat-form-field appearance="outline" class="portal-remove-fixed-infix-width portal-first-name">
                      <mat-label>Email</mat-label>
                      <input matInput formControlName="email" placeholder="Enter email">
                    </mat-form-field>
                
                    <mat-form-field appearance="outline" class="portal-remove-fixed-infix-width portal-first-name">
                      <mat-label>FullName</mat-label>
                      <input matInput formControlName="fullName" type="text" placeholder="Enter FullName">
                    </mat-form-field>
                  </div>
                  <div fxLayout="row" fxLayout.sm="column" style="gap: 10px;">
                
                    <mat-form-field appearance="outline" class="portal-remove-fixed-infix-width portal-first-name">
                      <mat-label>MobileNumber</mat-label>
                      <input matInput formControlName="mobileNumber" type="text" placeholder="Enter MobileNumber">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="portal-remove-fixed-infix-width portal-first-name">
                      <mat-label>Password</mat-label>
                      <input matInput formControlName="password" type="password" placeholder="Enter Password">
                    </mat-form-field>
                    </div>
                  <div fxLayout="row" fxLayout.sm="column">
                
                    <mat-form-field appearance="outline" class="portal-remove-fixed-infix-width portal-first-name">
                      <mat-label>HomeAddress</mat-label>
                      <input matInput formControlName="homeAddress" type="text" placeholder="Enter HomeAddress">
                    </mat-form-field>
                    </div>
                    <button mat-raised-button i18n type="submit" color="accent" (click)="update()"
                    [disabled]="!formGroup.valid">
                    Update
                  </button>
                </form>
      
              </div>
            </mat-tab>
          </mat-tab-group>
        </mat-card-content>

      </mat-card>
    </div>
  </div>
</div>