


<mat-toolbar
  matDialogTitle
  class="mat-accent m-0"
  style="background: #000; color: white">
  <mat-toolbar-row>
    <h2 class="title">Track Details</h2>
    <span class="fill-remaining-space"></span>
    <button
      mat-icon-button
      (click)="matDialogRef.close()"
      aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-dialog-content>
  <ng-container>
    <mat-card>
      <table style="display: flex">
        <!-- <div class="profile">
          <tr>
            <td>
              <img
                [src]="_utilityService.getImageUrl(dataInfo.carImages, 'cab')"
                (error)="_utilityService.onImgError($event)"
                style="
                  width: 120px;
                  height: 120px;
                  border: 4px solid;
                  display: flex;
                "
              />
            </td>
          </tr>
        </div> -->
        <div
          class="details"
          style="display: flex; align-items: center; margin: left 15px">
          <tr>
            <td class="heading-class">Contact Number</td>
            <td>
              <span>{{ dataInfo.orderResponseDto.mobileNumber }}</span>
            </td>
          </tr>
          <tr>
            <td class="heading-class">Customer Id</td>
            <td>
              <span>{{ dataInfo.orderResponseDto.customerId }}</span>
            </td>
          </tr>
          <tr>
            <td class="heading-class">Email</td>
            <td>
              <span>{{dataInfo.orderResponseDto.email }}</span>
            </td>
          </tr>
          <tr>
            <td class="heading-class">Customer Name</td>
            <td>
              <span>{{ dataInfo.orderResponseDto.fullName }}</span>
            </td>
          </tr>
          <tr>
            <td class="heading-class">Order Status</td>
            <td>
              <span>{{ dataInfo.orderResponseDto.orderStatus }}</span>
            </td>

          </tr>
          <tr>
            <td class="heading-class">Quantity</td>
            <td>
              <span>{{ dataInfo.orderResponseDto.quantity }}</span>
            </td>
          </tr>
          <tr>
            <td class="heading-class">Completion Date</td>
            <td>
              <span>{{
                _utilityService.getFormatedDateTime(dataInfo.orderResponseDto.completionDate)
                }}</span>
            </td>
          </tr>
          <tr>
            <td class="heading-class">Received Date</td>
            <td>
              <span>{{
                _utilityService.getFormatedDateTime(dataInfo.orderResponseDto.receivedDate)
                }}</span>
            </td>
          </tr>
          <tr>
            <td class="heading-class">Rating</td>
            <td>
              <span>{{ dataInfo.rating.rating }}</span>
            </td>
          </tr>
          <tr>
            <td class="heading-class">Feedback</td>
            <td>
              <span>{{ dataInfo.feedback.feedback }}</span>
            </td>
          </tr>

        </div>
      </table>
    </mat-card>
  </ng-container>
</mat-dialog-content>
