
 <!-- <portal-menu-sidenav></portal-menu-sidenav> -->
 <form [formGroup]="registerorderForm" style="padding: 50px; margin:20px" (ngSubmit)="onSubmit()">
  <h1 style="text-align: center;">Add Service</h1>
  <div fxLayout="row" fxLayout.sm="column" style="gap:20px">
    <mat-form-field appearance="outline" class="portal-remove-fixed-infix-width portal-first-name" >
      <mat-label>ServiceName</mat-label>
      <input matInput formControlName="serviceName" placeholder="Enter ServiceName" required>
    </mat-form-field>

    <mat-form-field appearance="outline" class="portal-remove-fixed-infix-width portal-first-name">
      <mat-label>Quantity</mat-label>
      <input matInput formControlName="quantity" type="text" placeholder="Enter quantity" required>
    </mat-form-field>
  </div>
  <div fxLayout="row" fxLayout.sm="column" style="gap:20px">
    <mat-form-field appearance="outline">
      <mat-label>ServiceDescription</mat-label>
      <input matInput formControlName="serviceDescription" type="text" placeholder="Enter ServiceDescription" required>
    </mat-form-field>
  
    <mat-form-field appearance="outline" class="portal-remove-fixed-infix-width">
      <mat-label>price</mat-label>
      <mat-select formControlName="price" placeholder="Select Price">
        <mat-option *ngFor="let service of services" [value]="service.id">
          {{ service.price }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    </div>


    <!-- <div class="image-upload">
      <label for="file-upload" class="file-upload-label">
        <span>Choose a Image</span>
        <i class="fas fa-upload"></i>
      </label>
      <input id="file-upload"   type="file" accept="image/*" (change)="onSelectFile($event)">
      <div class="image-preview" *ngIf="imageURL">
        <img [src]="imageURL">
      </div>
    </div> -->


  <mat-dialog-actions style="display: block">
    <div style="display: center; margin-right: 15px;">
      <button mat-raised-button color="primary" (click)="submit()">Submit</button>
    </div>
  </mat-dialog-actions>
</form>
