<div class="portal-accent-bg portal-register-container" fxLayoutAlign="center center" fxLayoutAlign.lt-md="none">
  <mat-card class="portal-register-card portal-horizontal-card mat-elevation-z"
    fxFlex="100"
    fxFlex.md="90"
    fxFlex.gt-md="60"
    fxLayout.lt-md="column">
    <mat-card-content
      fxFlex="auto"
      fxFlex.gt-sm="50%"
      fxLayout="column"
      fxLayoutAlign="space-between none"
      class="portal-primary-bg">
      <div>
        <mat-card-title fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
          <img class="portal-register-logo" src="assets/images/laundry-logo.png"/>
          <h1 i18n>Register</h1>
        </mat-card-title>
        <div>
          <p i18n>It takes a couple of minutes to sign up for a free account.</p>
          <!-- <p i18n>Just fill in your details to gain access the admin panel and view the dashboard.</p> -->
          <p i18n>By creating an account, you agree to our Terms & Conditions and Privacy Policy.</p>
        </div>
      </div>
      <button mat-button i18n type="button" style="background-color: white;" mat-raised-button (click)="login()">
        I already have an account.
      </button>
    </mat-card-content>


 <!-- <portal-menu-sidenav></portal-menu-sidenav> -->
 <form [formGroup]="registerCustomerForm" style="padding: 50px; margin:20px">
  <h1 style="text-align: center;"> Add Customer</h1>
  <div fxLayout="row" fxLayout.sm="column" style="gap: 15px;">
    <mat-form-field appearance="outline" class="portal-remove-fixed-infix-width portal-first-name">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" placeholder="Enter email">
    </mat-form-field>

    <mat-form-field appearance="outline" class="portal-remove-fixed-infix-width portal-first-name">
      <mat-label>FullName</mat-label>
      <input matInput formControlName="fullName" type="text" placeholder="Enter FullName">
    </mat-form-field>
  </div>
  <div fxLayout="row" fxLayout.sm="column" style="gap: 15px;">

    <mat-form-field appearance="outline" class="portal-remove-fixed-infix-width portal-first-name">
      <mat-label>MobileNumber</mat-label>
      <input matInput formControlName="mobileNumber" type="text" placeholder="Enter MobileNumber">
    </mat-form-field>
    <mat-form-field appearance="outline" class="portal-remove-fixed-infix-width portal-first-name">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" type="password" placeholder="Enter Password">
    </mat-form-field>
    </div>
  <div fxLayout="row" fxLayout.sm="column">

    <mat-form-field appearance="outline" class="portal-remove-fixed-infix-width portal-first-name">
      <mat-label>HomeAddress</mat-label>
      <input matInput formControlName="homeAddress" type="text" placeholder="Enter HomeAddress">
    </mat-form-field>
    </div>

  <mat-dialog-actions style="display: block">
    <div style="display: center">
      <button mat-raised-button color="primary" (click)="submit()">Submit</button>
    </div>
  </mat-dialog-actions>
</form>

  </mat-card>
</div>
