<form [formGroup]="changeCustomerPasswordForm" style="padding: 50px;">
  <h1 style="text-align: center;">Change Password</h1>
    <!-- <mat-form-field appearance="outline" >
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" placeholder="Enter your Email">
    </mat-form-field> -->
    <mat-form-field appearance="outline" >
      <mat-label>Old Password</mat-label>
      <input matInput formControlName="oldPassword" placeholder="Enter your old password">
    </mat-form-field>
    <mat-form-field appearance="outline" >
      <mat-label>New Password</mat-label>
      <input matInput formControlName="password" placeholder="Enter new password">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Confirm Password</mat-label>
      <input matInput type="password" formControlName="passwordConfirm" placeholder="Repeat Your Password">
    </mat-form-field>
    <mat-dialog-actions style="display: block">
      <div style="display: center">
        <button mat-raised-button (click)="changePassword()">Submit</button>
      </div>
    </mat-dialog-actions>
    </form>