<div *ngIf="isLoading">
  <mat-progress-spinner [mode]="'indeterminate'" [diameter]="50" [strokeWidth]="5" [color]="'primary'"
    style="position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);">
  </mat-progress-spinner>
</div>
<div
  class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto page-layout carded fullwidth inner-scroll body"
>
  <mat-card-content style="overflow: auto !important">
    <!-- <mat-form-field appearance="standard">
      <mat-label>Filter</mat-label>
      <input
        matInput
        [(ngModel)]="filterInput"
        (keyup)="getDataList()"
        placeholder="Ex. Search"
        #input
      />
    </mat-form-field> -->
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- App Id Column -->
      <ng-container matColumnDef="appId">
        <th mat-header-cell *matHeaderCellDef>First Name</th>
        <td mat-cell *matCellDef="let element">{{ element.firstName }}</td>
      </ng-container>
      <!-- Full name Column -->
      <ng-container matColumnDef="companyName">
        <th mat-header-cell *matHeaderCellDef> Company Name</th>
        <td mat-cell *matCellDef="let element">{{ element.companyName }}</td>
      </ng-container>
      <!-- Mobile number Column -->
      <ng-container matColumnDef="mobileNumber">
        <th mat-header-cell *matHeaderCellDef>Mobile Number</th>
        <td mat-cell *matCellDef="let element">{{ element.mobileNumber }}</td>
      </ng-container>
      <!-- status Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element">
          <mat-slide-toggle
            [checked]="true"  
            [color]="'primary'"
            (change)="setStatus(element.id, $event)"
          >
          </mat-slide-toggle>
        </td>
      </ng-container>
      <!-- Created at Column -->
      <!-- <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef>Created At</th>
        <td mat-cell *matCellDef="let element">
          {{ _utilityService.getFormatedDateTime(element.createdAt) }}
        </td>
      </ng-container> -->
      <!-- Action Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef class="rightPadding">Actions</th>
        <td mat-cell *matCellDef="let element" class="rightPadding">
          <button mat-icon-button color="black" [matMenuTriggerFor]="action">
            <mat-icon> more_vert </mat-icon>
          </button>
          <mat-menu #action="matMenu">
            <mat-divider style="background-color: #000"></mat-divider>
            <button mat-menu-item (click)="view(element.id)">
              <mat-icon style="cursor: pointer; color: #000"
                >visibility
              </mat-icon>
              View
            </button>
             <!-- <button mat-menu-item (click)="deleteById(element.id)">
            <mat-icon style="cursor: pointer; color: #000">delete
            </mat-icon>
            Delete
          </button> -->
            <!-- <button mat-menu-item (click)="orderDetails(element.id)">
              <mat-icon style="cursor: pointer; color: #000">list </mat-icon>
              Order History
            </button>
            <button mat-menu-item (click)="feedbackDetails(element.id)">
              <mat-icon style="cursor: pointer; color: #000">list </mat-icon>
              Feedback
            </button> -->
            <mat-divider></mat-divider>
          </mat-menu>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
          No data matching the filter "{{ input.value }}"
        </td>
      </tr>
    </table>
  </mat-card-content>
  <mat-paginator
    [length]="pagination?.totalCount"
    [pageIndex]="pagination?.currentPage - 1"
    [pageSize]="pagination?.perPage"
    [pageSizeOptions]="_constantService.PAGINATION_OPTIONS"
    [showFirstLastButtons]="true"
    (page)="getNextPageData($event)"
  >
  </mat-paginator>
</div>
